/* =======================================================
   GLOBAL
======================================================= */

body{

    font-family:
        "Poppins",
        sans-serif;

    background:
        var(--background);

    color:
        var(--text);

    overflow-x:hidden;

}

.app-container{

    width:100%;
    min-height:100vh;

}

/* =================================================================================================================================================== */