/* =======================================================
   ROOT VARIABLES
======================================================= */

:root{

    /* Colors */
    --background:#FFF8F7;
    --surface:#FFFFFF;
    --text:#2B2B2B;
    --accent:#E9A7B3;
    --border:#F1D7DD;

    /* Radius */
    --radius-lg:24px;
    --radius-md:18px;
    --radius-sm:12px;

    /* Shadow */
    --shadow:
        0 12px 30px rgba(0,0,0,.05);

    /* Sidebar */
    --sidebar-width:90px;

    /* Layout */
    --container-padding:20px;

}

/* =================================================================================================================================================== */